body{

    font-family: 'Baloo Tammudu 2', cursive; /*tipo de fonte*/
    background-image: radial-gradient(#ce911f,#ffa600);  

}


*{
    box-sizing: border-box;
}


div.caixa1{
 
    background-color: white;
    width: 500px; /*largura de caixa*/
    height: 100px; /* altura de caixa*/
    margin: 30px auto; /*centralizar caixa*/
    padding: 5px; /*movomentação de texto dentro da caixa*/
    border: 5px solid black; /*dotted - pontilhado*/
  
    
}

.logosanta{
   
   display: inline-block;
    border: 5px solid black;
        }   



    
.chamada{
    color: orange;
}
.assistencia{
    color: orange;
}


    
p{
        font-size: 20px; /*tamanho de fonte*/
        font-weight: bold; /*grossura de tipografia*/
        text-align: justify; /*alinhamento de texto*/
        line-height: 20px; /*espaco entre linhas*/
        display: inline-block;
 }


 .monitoramento{
     color: orange;
     background-color: white;
 }

 .telefonia{
     color: orange;
     background-color: white;
 }


h2{
        font-style: italic; /* estilo de tipografia*/
        text-align: center; /*alinhamento de fonte*/
        background-color: white;
 }

h1{
        
        text-align: center;
        /*text-decoration: overline; /* linha em torno do texto*/
        color:orange;
        text-transform: uppercase;
        position: absolute;
        left: 480px;
        top: 40px;
 }


.listaordenada{
        color: white;
        background-color: black;
        display: inline;             
    }

.listadesordenada{
        color: white;
        background-color: black;
        display: inline;
}

span{
        background-color: gray;
        display: none;
}

.ps5{
    display: inline;
}



    .pcgamer{
        display: inline;
    }

    div .slogan{
        display: inline;
    }